@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-quicksand;
  }
  body {
    @apply bg-[radial-gradient(#282c34,#282c34)];
  }
}

@layer components {
  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  .not-found,
  .error {
    @apply mt-20 text-center;
  }

  .not-found h1,
  .error h1 {
    @apply text-[5rem] m-0 font-[900] text-[#262626] uppercase font-montserrat;
    background: linear-gradient(90deg, #f9572a, #ffc905);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
  }

  .not-found p,
  .error p {
    @apply text-2xl font-medium text-[#ddd8d8];
  }
}
